body{
  background: white;
  color: black;
  margin:10;
  font-family:arial;
}

Header{
  background: #999;
  color: white;
  padding: 5px 15px 0px 15x;
}

Header h2{
  color: white;
  display: inline;
  margin: 0;
}

nav ul{
margin: 0;
padding: 0px 0px 0px 15px;
display: inline;
}

nav ul li{
background: black;
color: white;
display: inline-block;
line-style-type: none;
padding: 5px 15px;
}

nav ul li a{
color: White;
}

.col{
background: white;
float: left;
}

footer{
background: black;
text-align: center;
clear: both;
vertical-align: bottom;
color: white;
}

footer a{
  color: white;
}
