body{
  background: white;
  color: black;
  margin:10;
  font-family:arial;
}

Header{
  padding: 5px 15px 0px 15x;
  background: black
}

Header h2{
  margin: 0;
  display: inline-block;
  color: white;
}

nav ul{
margin: 0;
padding: 0px 0px 0px 15px;
display: inline-block;
float: right;
}

nav ul li{
background: black;
color: white;
display: inline-block;
line-style-type: none;
padding: 5px 15px;
}

nav ul li a{
color: White;
}

.col1{
background: #999;
float: left;
padding: 15px;
}

.col2{
background: #999;
float: right;
padding:15px;
}

footer{
background: black;
text-align: center;
clear: both;
vertical-align: bottom;
color: white;
}

footer a{
  color: white;
}
