html{
  height: 100%;
}
body{
  background: white;
  color: black;
  margin-right:10px;
  font-family:arial;
  height:100%;
}
#wrap {min-height: 100%;}

#main {
  overflow:auto;
  padding-bottom: 30px;
  }  /* must be same height as the footer */

Header{
  padding: 5px 15px 0px 15x;
}

Header h2{
  font-family: 'apple chancery', cursive;
  font-size: 70px;
  font-weight: lighter;
  margin: 0;
  padding: 3% 0 20px 0;
  text-align: center;
}

.nav-container{
background: #33BEBE;
align-self: center;
}

nav ul{
margin: 0;
padding: 0px 5px 0px 5px;
alignment:center;
}

nav ul li{
color: white;
display: inline-block;
line-style-type: none;
padding: 5px 15px;
}

nav ul li a{
color: White;
}

.col1{
background: #999;
float: left;
padding: 15px;
}

.col2{
background: #999;
float: right;
padding:15px;
}

.box-model-image{
float: left;
padding: 0px 10px 0px 10px;
}

footer {
position: relative;
margin-top: -30px; /*negative value of footer height */
height: 30px;
clear:both;
background: black;
text-align: center;
color: white;
}

footer a{
  color: white;
}
